@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    @apply hidden;
}


html {
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    @apply bg-white;
}

.btn-Input:focus {
    @apply ring-1 ring-[#756145] border-[#756145] outline-none;
}

.btn-Input-Error {
    @apply border-red-300 text-[#262626] bg-red-50 
}

.btn-Input-Error-without-bg {
    @apply border-red-300 text-[#262626]
}

.btn-Input-Error-without-bg:focus {
    @apply border-red-300 outline-none ring-1 ring-red-300;
}

.btn-Input-Error:focus {
    @apply border-red-300 outline-none ring-1 ring-red-300;
}

.btn-Input-Error:-webkit-autofill,
.btn-Input-Error:-webkit-autofill:hover,
.btn-Input-Error:-webkit-autofill:focus {
    @apply border outline-none appearance-none autofill-error;
}

.btn-Input:-webkit-autofill,
.btn-Input:-webkit-autofill:hover,
.btn-Input:-webkit-autofill:focus {
    @apply border outline-none appearance-none autofill;
}

@layer utilities {
    .autofill {
        -webkit-box-shadow: 0 0 0 30px #F3EEE7 inset !important;
        -webkit-text-fill-color: #262626 !important;
        box-shadow: 0 0 0 30px #F3EEE7 inset !important;
        background-clip: content-box !important;
    }

    .autofill-error {
        -webkit-box-shadow: 0 0 0 30px #fef2f2 inset !important;
        -webkit-text-fill-color: #262626 !important;
        box-shadow: 0 0 0 30px #fef2f2 inset !important;
        background-clip: content-box !important;
    }

    .otpLight {
        -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
        -webkit-text-fill-color: #000000 !important;
        box-shadow: 0 0 0 30px #ffffff inset !important;
        background-clip: content-box !important;
    }

    .otpDark {
        -webkit-box-shadow: 0 0 0 30px #171717 inset !important;
        -webkit-text-fill-color: #ffffff !important;
        box-shadow: 0 0 0 30px #171717 inset !important;
        background-clip: content-box !important;
    }
}